<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
</head>
<body>
    <h1>Questionnaire</h1>
    <form action="/submit" method="post">
        {% for question in questions %}
            <label>{{ question }}</label><br>
            <input type="text" name="{{ question }}"><br><br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
